.App {
  text-align: center;
}


.Review {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.Review > * {
  margin: 10px auto;
  width: 250px;
}


.Review-features > * {
  text-align: left;
}


.playnow-button {
  margin: 20px 0px;
  padding: 20px;
  background-color: green;
  border: 2px none;
  border-radius: 5px;
  width: 150px;
}

.playnow-buttontext {
  text-decoration: none;
  color: white;
  text-align: center;
  display: inline-flex;
}


.loadmore-div {
  width: 150px;
  margin: 0 auto;
}

.loadmore-button {
  margin: 20px 0px;
  padding: 20px;
  background-color: green;
  border: 2px none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
